
.memoryMatchingContainer {
    text-align: center;
}

#memoryMatchingBoardContainer{
    display: flex;
    justify-content: center;
}

#memoryMatchingBoard {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    margin: 0 auto;
}

.card {
    height: 3rem;
    min-height: 3rem;
    font-size: 2rem;
    cursor: pointer;
}

.card.flipped {
    background-color: #ffcc00;
}

#resetButtonMemoryMatching {
    margin-top: 20px;
    padding: 10px 20px;
}

#messageMemoryMatching{
    font-size: 2rem;
}