// Variáveis
$cor-primaria-padrao: #F8F8FF;
$cor-primaria-padrao-darkmode: #121212;
$cor-secundaria-padrao: #292929;
$cor-secundaria-padrao-darkmode: #121212;


$cor-fonte-primaria-padrao: #121212;
$cor-fonte-primaria-padrao-darkmode: #ffffff;


$cor-primaria: #ffffff;


body {
    --sectionBgColor: $cor-primaria-padrao;
    --sectionColor: $cor-fonte-primaria-padrao;
    background-color: $cor-primaria-padrao!important;

    --highlightedColor: $cor-secundaria-padrao;
    --highlightedColorTextColor: #ffffff;
    --secondaryColor: #ffffff;
    --secondaryColorTextColor: #121212;
}

body.dark-mode{
    --sectionBgColor: $cor-primaria-padrao-darkmode;
    --sectionColor: #ffffff;
    background-color: #292929!important;

    --highlightedColor: #121212;
    --highlightedColorTextColor: #ffffff;
    --secondaryColor: #292929;
    --secondaryColorTextColor: #ffffff;
}


* {
    font-family: 'Times New Roman', Times, serif;
}

/* Style the header */
header {
    background-color: #121212;
    color: #ffffff;
    text-align: center;
    padding: 2rem;
    animation: fadeIn 1s ease-in-out;
}

/* Style other sections */
section {
    background-color: var(--sectionBgColor);
    color: var(--sectionColor);
    padding: 2rem;
    margin: 2rem;
    box-shadow: 0px 3px 20px 3px rgba(61, 62, 69, 0.5);
    font-size: larger;
    border-radius: 10px;
}

section:hover {
    transform: scale(1.01);
    color: var(--sectionColor);
}

#contact p:hover {
    font-weight: bold;
}

ul li {
    opacity: 1;
    transform: translateX(0px);
    transition: opacity 0.3s, transform 0.3s;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* Apply different delays to each li */
ul li:nth-child(1) {
    animation-delay: 0s;
}

ul li:nth-child(2) {
    animation-delay: 0.5s;
}

ul li:nth-child(3) {
    animation-delay: 1.0s;
}

ul li:nth-child(4) {
    animation-delay: 1.5s;
}

ul li:nth-child(5) {
    animation-delay: 2s;
}

ul li:nth-child(6) {
    animation-delay: 2.5s;
}

ul li:nth-child(7) {
    animation-delay: 3s;
}

ul li:hover {
    transform: translateX(10px);
    font-weight: bold;
}

.icon {
    width: 1.7rem;
}

header i{
    text-decoration: none;
    color: #fff;
}

section a{
    color: var(--sectionColor);
    text-decoration: none;
    i{
        text-decoration: none;
        color: var(--sectionColor);
    }
}

footer {
    bottom: 0;
    color: var(--sectionColor);
}

footer i{
    text-decoration: none;
    color: var(--sectionColor);
}

.accordion-button{
    background-color: var(--highlightedColor)!important;
    color: var(--highlightedColorTextColor)!important;
}

.accordion-body{
    background-color: var(--secondaryColor);
    color: var(--secondaryColorTextColor);
}


@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

/* Keyframes for fadeIn animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Keyframes for bounceInRight animation */
@keyframes bounceInRight {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        /* transform: translateX(48px); */
        right: 0;
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateX(26px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateX(13px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateX(6.5px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateX(4px);
    }

    25%,
    55%,
    75%,
    87%,
    98% {
        animation-timing-function: ease-out;
        transform: translateX(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateX(0px);
    }
}