.tictactoeContainer {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#tictactoeBoardContainer {
    display: flex;
    justify-content: center;
}

#tictactoeBoard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    margin: 0 auto;
    border: 2px solid #121212;
    padding: 1rem;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: 1px solid #121212;
    cursor: pointer;
    background-color: #f0f0f0;
    color: #121212;
}

.cell:hover {
    background-color: #f0f0f0;
}

#message {
    margin-top: 20px;
    font-size: 1.2rem;
}

#resetButton {
    margin-top: 20px;
}